*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    background-color: #b4f3f3;
    font-family: sans-serif;
    outline: none;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}